<li class="dropdown navbar-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Admin" %}<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="{{ getActiveClass('/admin/stats') }}"><a href="{{ config.base_path }}/admin/stats">{% trans "Statistics" %}</a></li>
    <li class="{{ getActiveClass('/admin/configfile') }}"><a href="{{ config.base_path }}/admin/configfile">{% trans "Configuration file" %}</a></li>
    <li class="{{ getActiveClass('/admin/sysinfo') }}"><a href="{{ config.base_path }}/admin/sysinfo">{% trans "System info" %}</a></li>
    <li class="{{ getActiveClass('/admin/sendmail') }}"><a href="{{ config.base_path }}/admin/sendmail">{% trans "Send email" %}</a></li>
  </ul>
</li>
