{% import "socialMedia.html.twig" as socialMedia %}
{% import "widgets.html.twig" as widget %}
<!DOCTYPE html>
<html lang="{{ lang.locale }}" ng-app="{{ config.app_id }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ config.app_description }}{% endblock %}">
    <meta name="author" content="{{ config.app_author }}">
    {% block meta %}{% endblock %}

    {{ socialMedia.facebook_head(config) }}
    {{ socialMedia.twitter_head(config) }}

    <link rel="shortcut icon" href="{{ config.base_path }}/assets/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ config.assets_path }}/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ config.assets_path }}/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ config.assets_path }}/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ config.assets_path }}/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ config.assets_path }}/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ config.assets_path }}/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ config.assets_path }}/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ config.assets_path }}/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ config.assets_path }}/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ config.assets_path }}/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ config.assets_path }}/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ config.assets_path }}/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ config.assets_path }}/ico/favicon-16x16.png">
    <link rel="manifest" href="{{ config.base_path }}/assets/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ config.assets_path }}/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{{ config.app_title }}{% endblock %}</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ config.base_path }}/css/app.css">
    {% block styles %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

{% block body %}
<body class="{{ getPageClasses() }}">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="{{ config.base_path }}/">{{ config.app_name }}</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{ getActiveClass('') }} navbar-left"><a href="{{ config.base_path }}/">{% trans "Home" %}</a></li>
        <li class="dropdown {{ getActiveClass('/user') }} navbar-left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Users" %}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="{{ getActiveClass('/user/new') }}"><a href="{{ config.base_path }}/tut/new/">{% trans "New user" %}</a></li>
            <li class="{{ getActiveClass('/user/check') }}"><a href="{{ config.base_path }}/tut/my/">{% trans "Check user" %}</a></li>
          </ul>
        </li>
        <!-- additional left menu items -->
      </ul>
      <ul class="nav navbar-nav pull-right">

        <li class="dropdown {{ getActiveClass('/help') }} navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownLanguageMenu">
            {% for locale in config.locales %}
            <li class="{{ lang.label == locale.label ? 'active' }}" role="presentation" id="menuLang_{{ locale.locale }}">
              <a role="menuitem" href='{{ config.base_path }}/utils/setlang/{{ locale.label }}'>
              <img alt='{{ locale.flag_alt | translate }}' src='{{ config.base_path }}/assets/imgs/flags/gif/{{ locale.label | lower }}.gif'/> {{ locale.language }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        {% if ss.authenticated %}
        <li class="dropdown {{ getActiveClass('/profile') }} navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ ss.friendlyName }}<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownLanguageMenu">
            <li role="presentation" id="userProfile" class="{{ getActiveClass('/profile/me') }}">
              <a role="menuitem" href='{{ config.base_path }}/profile/me'>{% trans "Profile" %}</a>
            </li>
            <li role="presentation" id="userTuts" class="{{ getActiveClass('/tut/my') }}">
              <a role="menuitem" href='{{ config.base_path }}/tut/my'>{% trans "My Tut's" %}</a>
            </li>
            {% if ss.admin %}
            <li role="separator" class="divider"></li>
            <li role="presentation" id="admin" class="{{ getActiveClass('/admin') }}">
              <a role="menuitem" href='{{ config.base_path }}/admin'>{% trans "Administrator" %}</a>
            </li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li role="presentation" id="logout">
              <a role="menuitem" href='{{ config.base_path }}/utils/logout'>{% trans "Logout" %}</a>
            </li>
          </ul>
        </li>
          {% if ss.admin %}
            <li class="navbar-right">              
            </li>
          {% endif %}
        {% else %}
        <li class="{{ getActiveClass('/utils/login') }} navbar-right"><a href="{{ config.base_path }}/utils/login">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{% block cookies %}
{{ widget.cookieHeaderHTML(config) }}
{% endblock %}

<!-- Begin page content -->
{% block content %}
<div class="container">
  {% block container %}
  <div class="page-header">
    <h1>{{ config.app_name }}</h1>
    <p>{{ config.app_description }}</p>
  </div>
  {% endblock %}
</div>
{% endblock %}

  <div class="space50">
    <div id="footer">
      <div class="container">
        <p class="row">
          <p class="col-xs-6">
            FCT|FCCN 2016
          </p>
          <p class="col-xs-6 align-right">
            <a href="{{ config.base_path }}/doc/help">{% trans "Help" %}</a> | 
            <a href="{{ config.base_path }}/doc/credits">{% trans "Credits" %}</a>
          </p> 
          <!-- additional footer content -->
        </p>
      </div>
      <div class="container">
        <!-- content below footer -->
      </div>
    </div>
  </div>
</body>
{% endblock %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ config.base_path }}/js/jquery.min.js"></script>
<script src="{{ config.base_path }}/js/bootstrap.min.js"></script>
<script src="{{ config.base_path }}/js/app.js"></script>
{{ widget.cookieHeaderJS }}
{% block scripts %}{% endblock %}
{{ socialMedia.google_analytics_script(config) }}
{% block admin_scripts %}
{% endblock %}
</html>
