{# template for navbar #}
{% import "@web_components/widgets.html.twig" as ws_widgets %}
{% block navbar %}
<nav class="navbar navbar-default navbar-static-top " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="{{ config.base_path }}/">{{ config.app_name }}</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- navbar left -->
        <li class="{{ getActiveClass('') }} navbar-left"><a href="{{ config.base_path }}/">{% trans "Home" %}</a></li>
        <!-- additional left menu items -->
        <!-- ./navbar left -->
      </ul>
      <ul class="nav navbar-nav pull-right">
        <!-- navbar right -->
        {{ ws_widgets.language_dropdown(config.locales,lang.current_lang) }}
        <!-- ./navbar right -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}
