{# template for navbar #}
{% block navbar %}
<nav class="navbar navbar-default navbar-static-top " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="{{ config.base_path }}/">{{ config.app_name }}</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- navbar left -->
        <li class="{{ getActiveClass('') }} navbar-left"><a href="{{ config.base_path }}/">{% trans "Home" %}</a></li>
        <!-- additional left menu items -->
        <!-- ./navbar left -->
      </ul>
      <ul class="nav navbar-nav pull-right">
        <!-- navbar right -->
        <li class="dropdown {{ getActiveClass('/help') }} navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownLanguageMenu">
            {% for locale in config.locales %}
            <li class="{{ lang.label == locale.label ? 'active' }}" role="presentation" id="menuLang_{{ locale.locale }}">
              <a role="menuitem" href='{{ config.base_path }}/utils/setlang/{{ locale.label }}'>
              <img alt='{{ locale.flag_alt | translate }}' src='{{ config.base_path }}/assets/imgs/flags/gif/{{ locale.label | lower }}.gif'/> {{ locale.language }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <!-- ./navbar right -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}
